* {
    box-sizing: inherit !important;
}

h1 {
    font-size: 47px;
    color: #D04F4F;
}

.container {
    padding: 0 !important;
}

.row {
    padding: 0 !important;
    margin: 0 !important;
}

.col {
    padding: 0 !important;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.searchBar-container {
    background-color: #E7E7E7;
    max-width: 85% !important;
    margin-top: 25px;
}

.searchBar-block {
    display: flex;
    align-items: center;
    height: 65px;
}

.searchBar {
    width: 100%;
    height: 100%;
}

.glass {
    position: absolute;
    padding: 0;
    right: 9%;
}

.searchBar-block, .searchBar, .glass, .circle-x {
    background-color: transparent;
}

.tags-block-ingredients {
    background-color: #3282F7;
}

.tags-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.circle-x, .tags-text {
    color: white;
}

.circle-x {
    padding: 0;
}

.tags-container {
    margin-top: 25px;
    margin-left: 6.9% !important;
}

.searchBar-container, .tags-block {
    border-radius: 5px;
}

.searchBar, .searchBar-block .glass, .circle-x {
    border: none;
}







.chevron-down, .searchTypes {
    color: white;
}

.searchTypes-ingredients {

}

.chevron-down {
    padding: 0;
}

.searchTypes-block-ingredients {
    background-color: #3282F7;
}

.searchTypes-block {
    height: 65px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.searchTypes-container {
    margin-top: 25px;
    margin-left: 6.9% !important;
}

.chevron-down, .searchTypes-ingredients {
    border: none;
    background-color: transparent;
}





.cards-container {
    margin-top: 25px;
    margin-left: 6.9% !important;
}

.card, .card-body {
    padding: 0 !important;
    border-width: 0 !important;
}

.card-img {
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0 !important;
    height: 200px;
}

.card-text {
    background-color: #E7E7E7;
    border-radius: 0 0 5px 5px;
    height: 150px;
    padding: 20px;
}

.card-text-top, .card-text-bottom {
    display: flex;
    justify-content: space-between;
}

.card-text-top {
    padding-bottom: 15px;
}