h1 {
    font-size: 47px;
    color: #D04F4F;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.search-block, .search-block input {
    background-color: #E7E7E7;
}

.search-container {
    max-width: 85% !important;
}

.glass, .circle-x {
    background-color: transparent;
}

.glass, .search-bar {
    padding: 15px;
}

.search-bar {
    width: 100%;
}

.tags-block {
    background-color: #3282F7;
    max-width: 120px !important;
}

.search-block, .tags-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.circle-x, .tags-text {
    color: white;
}

.circle-x {
    padding: 8px 25px 8px 5px;
}

.tags-text {
    padding: 8px 5px 8px 15px;
}

.tags-container {
    margin-top: 25px;
    margin-left: 7.5% !important;
}

.search-block, .search-bar, .tags-block {
    border-radius: 5px;
}

.circle-x, .search-block .glass, .search-block input {
    border: none;
}